<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <banksync>
            <general>
                <enabled>1</enabled>
                <async_matching>1</async_matching>
                <support_creditmemos>0</support_creditmemos>
                <allow_deletion>0</allow_deletion>
            </general>
            <matching>
                <confidence_thresholds>
                    <minimum>10</minimum>
                    <acceptance>80</acceptance>
                </confidence_thresholds>
                <filter>
                    <amount>5</amount>
                    <date>14</date>
                    <document_nr_pattern><![CDATA[/(?<!\d)\d+(?!\d)/]]></document_nr_pattern>
                    <order_nr_pattern><![CDATA[/(?<!\d)\d+(?!\d)/]]></order_nr_pattern>
                    <customer_nr_pattern><![CDATA[/(?<!\d)\d+(?!\d)/]]></customer_nr_pattern>
                </filter>
                <patterns>
                    <document_increment_id><![CDATA[/(?<=\b|bill|invoice|creditmemo|refund|nr){{value}}\b/i]]></document_increment_id>
                    <order_increment_id><![CDATA[/(?<=\b|order|nr){{value}}\b/i]]></order_increment_id>
                    <customer_increment_id><![CDATA[/(?<=\b|customer|nr\.?){{value}}\b/i]]></customer_increment_id>
                </patterns>
                <weights>
                    <payer_name>20</payer_name>
                    <purpose>40</purpose>
                    <amount>40</amount>
                    <strict_amount>1</strict_amount>
                </weights>
            </matching>
            <dunnings>
                <enabled>0</enabled>
                <auto_send_mail>0</auto_send_mail>
                <email_identity>general</email_identity>
                <due_days>14</due_days>
                <types>
                    <reminder_1>
                        <delay>21</delay>
                        <label>Payment reminder</label>
                    </reminder_1>
                    <reminder_2>
                        <delay>42</delay>
                        <label>Second payment reminder</label>
                    </reminder_2>
                    <dunning_1>
                        <delay>63</delay>
                        <label>Dunning</label>
                    </dunning_1>
                    <dunning_2>
                        <delay>84</delay>
                        <label>Second dunning</label>
                    </dunning_2>
                </types>
            </dunnings>
        </banksync>
    </default>
</config>
