<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="banksync_match" xsi:type="object">Ibertrand\BankSync\Console\Command\MatchTransactions</item>
                <item name="banksync_calc_hashes" xsi:type="object">Ibertrand\BankSync\Console\Command\CalcHashes</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="is_banksynced" xsi:type="string">sales_invoice.is_banksynced</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Ibertrand\BankSync\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/banksync.log</argument>
        </arguments>
    </type>
    <type name="Ibertrand\BankSync\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">banksyncLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ibertrand\BankSync\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Use a lazy proxy for CustomerResource to prevent EAV queries during setup:install.
         CustomerResource::__construct calls setType('customer') which queries eav_entity_type
         before EAV tables exist, crashing installation. -->
    <type name="Ibertrand\BankSync\Helper\Matching">
        <arguments>
            <argument name="customerResource" xsi:type="object">Magento\Customer\Model\ResourceModel\Customer\Proxy</argument>
        </arguments>
    </type>

</config>
